body {
  background-color: #6E3CBC;
}

.app {
  text-align: center;
}

.app__container {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 450px;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 25px;
  margin: 15vh auto;
  padding: 25px;
  background-color: #fff;
}

.app__title {
  color: #7267CB;
}

.app__cityname {
  color: #000;
  font-weight: bold;
  margin-bottom: 25px;
}

.app i {
  font-size: 30px;
  color: #B8E4F0;
}

.app__temperature {
  color: #6495ed;
  margin-bottom: 0;
}

.app__grades {
  color: #000;
  font-weight: bold;
}

.humidity {
  margin-top: 0;
  color: #6495ed;
}

.humidity__percentage {
  color: #000;
  margin: 0;
  margin-bottom: 20px;
  font-weight: bold;
}

.app button {
  background-color: #6495ed;
  width: 150px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 12px;
  color: #ffffff;
}

.weather {
  margin-top: 0;
  color: #6495ed;
}

.weather__type {
  color: #000;
  margin-top: 0;
  font-weight: bold;
}

